doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel= 'stylesheet',
    href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel="stylesheet", href="stylesheets/style.css", media="all")
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(type='text/javascript', src='js/script.js')
  body
    .container
      .row
        button This Is Button Text
      textarea(type="text", class="input col-xs-6")
      div(type="text" class="output col-xs-6")
